<div class="container">
    <div class="row">
        <div class="col-md-4 border-1px blue">
            <img src="https://cdn.pixabay.com/photo/2014/12/12/19/45/lion-565820__340.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">Lion</h5>
                <p class="card-text">The lion is a species in the family Felidae; it is a muscular, deep-chested cat with a short, rounded head, a reduced neck and round ears, and a hairy tuft at the end of its tail. It is sexually dimorphic; adult male lions have a prominent mane, which is the most recognisable feature of the species.</p>
            </div>
        </div>
        <div class="col-md-4 ">
            <img src="https://cdn.pixabay.com/photo/2017/12/11/15/34/lion-3012515__340.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">The King</h5>
                <p class="card-text">The definition of a king is a male monarch who rules a kingdom or the person who is considered most important. An example of a king is the male monarch in England. An example of a king is the guy in the neighborhood who everyone considers most important and from whom everyone seeks approval.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://cdn.pixabay.com/photo/2014/12/22/10/04/lion-577104__340.jpg" class="card-img-top"
                alt="...">
            <div class="card-body col">
                <h5 class="card-title">The Leader</h5>
                <p class="card-text">The leadership definition captures the essentials of being able and prepared to inspire others. Effective leadership is based upon ideas (whether original or borrowed), but won't happen unless those ideas can be communicated to others in a way that engages them enough to act as the leader wants them to act.</p>
            </div>
        </div>
    </div>
</div>