
<div class="col-md-4 offset-md-4 mt-4 ">
        <h4 class="mt-2">Please Register</h4>
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">First and last name</span>
            </div>
            <input type="text" aria-label="First name" class="form-control" placeholder="First Name">
            <input type="text" aria-label="Last name" class="form-control" placeholder="Last Name">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Email</span>
            </div>
            <input type="email" name="email" id="email" class="form-control" required placeholder="Enter Email">
        </div>
        <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">DOB</span>
                </div>
                <input type="date" name="date" id="date" class="form-control" placeholder="Enter Date">
            </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">password</span>
            </div>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
        </div>
        <div class="btn-group mb-3 float-right">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </form>
</div>